   .loginWrapper{
    display: flex;
   justify-content: center;
   }
   .loginCard{
   width:27vw;
   margin-top: 9%;
   }
   .card{
       width: 27vw;
   }
   .insta-logo{
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;   
       margin-top: 2%;
   }
   .logo-img{
       width: 12vw;
   }
   .imgcar{
    margin-top: 8vh;
    height: 575px;
    width: 400px;
    position: relative;
   }
   .car{
    height: 400px;
    width: 229px;
    position: absolute; 
    left: 137px;
    top: 89px;
   }